.navbar.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/')
        span.logo
      .nav-collapse.collapse
        ul.nav
          li
            a(href='/docs/getting-started.html')
              i.icon-arrow-right
              span 快速入门
          li
            a(href='/docs/configuring-tasks.html')
              i.icon-cog
              span 配置任务
          li
            a(href='/plugins.html')
              i.icon-power-cord
              span 插件列表
          li
            a(href='/docs/getting-started.html')
              i.icon-file-text
              span 文档
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Search')
      //.nav-collapse
